C#/KendiFrameWork üm/Client/Kronus.Client.Proxies/Service References/SrvService/SrvService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:21318/SrvService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" />
  <xs:import schemaLocation="http://localhost:21318/SrvService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:21318/SrvService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" />
  <xs:import schemaLocation="http://localhost:21318/SrvService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Kronus.Server.BusinessFlow" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjeShortList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="rptParams" nillable="true" type="q1:ReportParams.ProjeShortFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjeShortListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetProjeShortListResult" nillable="true" type="q2:ArrayOfProjeShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vlProjeId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetProjeByIdResult" nillable="true" type="q4:ProjeS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" minOccurs="0" name="vlProje" nillable="true" type="q5:SrvProje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProjeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" minOccurs="0" name="vlProje" nillable="true" type="q6:SrvProje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProjeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vlId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjeListForCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjeListForComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetProjeListForComboResult" nillable="true" type="q8:ArrayOfComboItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelListForCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelListForComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetPersonelListForComboResult" nillable="true" type="q9:ArrayOfComboItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuzergahMainList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="rptParams" nillable="true" type="q10:ReportParams.GuzergahMainShortFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuzergahMainListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetGuzergahMainListResult" nillable="true" type="q11:ArrayOfGuzergahMainShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuzergahMainById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vlGuzergahMainId" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuzergahMainByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetGuzergahMainByIdResult" nillable="true" type="q13:GuzergahMainS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGuzergahMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" minOccurs="0" name="vlGuzergahMain" nillable="true" type="q14:SrvGuzergahMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGuzergahMainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGuzergahMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" minOccurs="0" name="vlGuzergahMain" nillable="true" type="q15:SrvGuzergahMain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGuzergahMainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGuzergahMain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vlId" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGuzergahMainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuzergahList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="rptParams" nillable="true" type="q17:ReportParams.GuzergahShortFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuzergahListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetGuzergahListResult" nillable="true" type="q18:ArrayOfGuzergahShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuzergahById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vlGuzergahId" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuzergahByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetGuzergahByIdResult" nillable="true" type="q20:GuzergahS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGuzergah">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" minOccurs="0" name="vlGuzergah" nillable="true" type="q21:SrvGuzergah" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGuzergahResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGuzergah">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" minOccurs="0" name="vlGuzergah" nillable="true" type="q22:SrvGuzergah" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGuzergahResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGuzergah">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vlId" type="q23:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGuzergahResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SmsGonder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="telNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mesaj" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SmsGonderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Sofor_GetCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Sofor_GetComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="Sofor_GetComboResult" nillable="true" type="q24:ArrayOfComboItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hostes_GetCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Hostes_GetComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="Hostes_GetComboResult" nillable="true" type="q25:ArrayOfComboItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arac_GetCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Arac_GetComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="Arac_GetComboResult" nillable="true" type="q26:ArrayOfComboItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arac_GetAracList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="rptParams" nillable="true" type="q27:ReportParams.AracShortFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arac_GetAracListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="Arac_GetAracListResult" nillable="true" type="q28:ArrayOfAracShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arac_GetAracById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vlAracId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Arac_GetAracByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="Arac_GetAracByIdResult" nillable="true" type="q29:AracS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArac">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" minOccurs="0" name="vlArac" nillable="true" type="q30:SrvArac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAracResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditArac">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" minOccurs="0" name="vlArac" nillable="true" type="q31:SrvArac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAracResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vlId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAracResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTedarikciList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="rptParams" nillable="true" type="q32:ReportParams.TedarikciShortFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTedarikciListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetTedarikciListResult" nillable="true" type="q33:ArrayOfTedarikciShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTedarikciById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vlId" type="q34:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTedarikciByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetTedarikciByIdResult" nillable="true" type="q35:TedarikciS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTedarikci">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" minOccurs="0" name="vlObj" nillable="true" type="q36:SrvTedarikci" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTedarikciResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTedarikci">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" minOccurs="0" name="vlObj" nillable="true" type="q37:SrvTedarikci" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTedarikciResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Kronus.Server.BusinessFlow" minOccurs="0" name="vlComboName" type="q38:ComboFlow.ComboType" />
        <xs:element minOccurs="0" name="vlDefaultValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetComboResult" nillable="true" type="q39:ArrayOfComboItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>