C#/KendiFrameWork üm/Client/Kronus.Client.Proxies/Service References/CrmService/CrmService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CrmService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:21318/CrmService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:21318/CrmService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:21318/CrmService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kronus.Server.BusinessFlow" />
      <xsd:import schemaLocation="http://localhost:21318/CrmService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" />
      <xsd:import schemaLocation="http://localhost:21318/CrmService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" />
      <xsd:import schemaLocation="http://localhost:21318/CrmService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:21318/CrmService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICrmService_GetCombo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCombo" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetCombo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComboResponse" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetDepartmanListForCombo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmanListForCombo" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetDepartmanListForCombo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmanListForComboResponse" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetBolumListForCombo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBolumListForCombo" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetBolumListForCombo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBolumListForComboResponse" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetGorevListForCombo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGorevListForCombo" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetGorevListForCombo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGorevListForComboResponse" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetFirmaListForCombo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFirmaListForCombo" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetFirmaListForCombo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFirmaListForComboResponse" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetFirmaLokasyonListForCombo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFirmaLokasyonListForCombo" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetFirmaLokasyonListForCombo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFirmaLokasyonListForComboResponse" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetPersonelById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonelById" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetPersonelById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonelByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetPersonelListForCombo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonelListForCombo" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetPersonelListForCombo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonelListForComboResponse" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetPersonelList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonelList" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetPersonelList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonelListResponse" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetPersonelShortList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonelShortList" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetPersonelShortList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonelShortListResponse" />
  </wsdl:message>
  <wsdl:message name="ICrmService_AddPersonel_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonel" />
  </wsdl:message>
  <wsdl:message name="ICrmService_AddPersonel_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonelResponse" />
  </wsdl:message>
  <wsdl:message name="ICrmService_EditPersonel_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPersonel" />
  </wsdl:message>
  <wsdl:message name="ICrmService_EditPersonel_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPersonelResponse" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetEhliyetByPersonelId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEhliyetByPersonelId" />
  </wsdl:message>
  <wsdl:message name="ICrmService_GetEhliyetByPersonelId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEhliyetByPersonelIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICrmService_AddEhliyet_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEhliyet" />
  </wsdl:message>
  <wsdl:message name="ICrmService_AddEhliyet_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEhliyetResponse" />
  </wsdl:message>
  <wsdl:message name="ICrmService_EditEhliyet_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEhliyet" />
  </wsdl:message>
  <wsdl:message name="ICrmService_EditEhliyet_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEhliyetResponse" />
  </wsdl:message>
  <wsdl:portType name="ICrmService">
    <wsdl:operation name="GetCombo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmService/GetCombo" message="tns:ICrmService_GetCombo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmService/GetComboResponse" message="tns:ICrmService_GetCombo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmanListForCombo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmService/GetDepartmanListForCombo" message="tns:ICrmService_GetDepartmanListForCombo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmService/GetDepartmanListForComboResponse" message="tns:ICrmService_GetDepartmanListForCombo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBolumListForCombo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmService/GetBolumListForCombo" message="tns:ICrmService_GetBolumListForCombo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmService/GetBolumListForComboResponse" message="tns:ICrmService_GetBolumListForCombo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGorevListForCombo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmService/GetGorevListForCombo" message="tns:ICrmService_GetGorevListForCombo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmService/GetGorevListForComboResponse" message="tns:ICrmService_GetGorevListForCombo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFirmaListForCombo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmService/GetFirmaListForCombo" message="tns:ICrmService_GetFirmaListForCombo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmService/GetFirmaListForComboResponse" message="tns:ICrmService_GetFirmaListForCombo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFirmaLokasyonListForCombo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmService/GetFirmaLokasyonListForCombo" message="tns:ICrmService_GetFirmaLokasyonListForCombo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmService/GetFirmaLokasyonListForComboResponse" message="tns:ICrmService_GetFirmaLokasyonListForCombo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonelById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmService/GetPersonelById" message="tns:ICrmService_GetPersonelById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmService/GetPersonelByIdResponse" message="tns:ICrmService_GetPersonelById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonelListForCombo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmService/GetPersonelListForCombo" message="tns:ICrmService_GetPersonelListForCombo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmService/GetPersonelListForComboResponse" message="tns:ICrmService_GetPersonelListForCombo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonelList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmService/GetPersonelList" message="tns:ICrmService_GetPersonelList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmService/GetPersonelListResponse" message="tns:ICrmService_GetPersonelList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonelShortList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmService/GetPersonelShortList" message="tns:ICrmService_GetPersonelShortList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmService/GetPersonelShortListResponse" message="tns:ICrmService_GetPersonelShortList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPersonel">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmService/AddPersonel" message="tns:ICrmService_AddPersonel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmService/AddPersonelResponse" message="tns:ICrmService_AddPersonel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPersonel">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmService/EditPersonel" message="tns:ICrmService_EditPersonel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmService/EditPersonelResponse" message="tns:ICrmService_EditPersonel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEhliyetByPersonelId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmService/GetEhliyetByPersonelId" message="tns:ICrmService_GetEhliyetByPersonelId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmService/GetEhliyetByPersonelIdResponse" message="tns:ICrmService_GetEhliyetByPersonelId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEhliyet">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmService/AddEhliyet" message="tns:ICrmService_AddEhliyet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmService/AddEhliyetResponse" message="tns:ICrmService_AddEhliyet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEhliyet">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrmService/EditEhliyet" message="tns:ICrmService_EditEhliyet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrmService/EditEhliyetResponse" message="tns:ICrmService_EditEhliyet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICrmService" type="tns:ICrmService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCombo">
      <soap:operation soapAction="http://tempuri.org/ICrmService/GetCombo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmanListForCombo">
      <soap:operation soapAction="http://tempuri.org/ICrmService/GetDepartmanListForCombo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBolumListForCombo">
      <soap:operation soapAction="http://tempuri.org/ICrmService/GetBolumListForCombo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGorevListForCombo">
      <soap:operation soapAction="http://tempuri.org/ICrmService/GetGorevListForCombo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirmaListForCombo">
      <soap:operation soapAction="http://tempuri.org/ICrmService/GetFirmaListForCombo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirmaLokasyonListForCombo">
      <soap:operation soapAction="http://tempuri.org/ICrmService/GetFirmaLokasyonListForCombo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonelById">
      <soap:operation soapAction="http://tempuri.org/ICrmService/GetPersonelById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonelListForCombo">
      <soap:operation soapAction="http://tempuri.org/ICrmService/GetPersonelListForCombo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonelList">
      <soap:operation soapAction="http://tempuri.org/ICrmService/GetPersonelList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonelShortList">
      <soap:operation soapAction="http://tempuri.org/ICrmService/GetPersonelShortList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPersonel">
      <soap:operation soapAction="http://tempuri.org/ICrmService/AddPersonel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPersonel">
      <soap:operation soapAction="http://tempuri.org/ICrmService/EditPersonel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEhliyetByPersonelId">
      <soap:operation soapAction="http://tempuri.org/ICrmService/GetEhliyetByPersonelId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEhliyet">
      <soap:operation soapAction="http://tempuri.org/ICrmService/AddEhliyet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEhliyet">
      <soap:operation soapAction="http://tempuri.org/ICrmService/EditEhliyet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CrmService">
    <wsdl:port name="BasicHttpBinding_ICrmService" binding="tns:BasicHttpBinding_ICrmService">
      <soap:address location="http://localhost:21318/CrmService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>