C#/KendiFrameWork üm/Client/Kronus.Client.Proxies/Service References/CrmService/CrmService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:21318/CrmService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kronus.Server.BusinessFlow" />
  <xs:import schemaLocation="http://localhost:21318/CrmService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" />
  <xs:import schemaLocation="http://localhost:21318/CrmService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:21318/CrmService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" />
  <xs:element name="GetCombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Kronus.Server.BusinessFlow" minOccurs="0" name="vlComboName" type="q1:ComboFlow.ComboType" />
        <xs:element minOccurs="0" name="vlDefaultValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetComboResult" nillable="true" type="q2:ArrayOfComboItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmanListForCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmanListForComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetDepartmanListForComboResult" nillable="true" type="q3:ArrayOfComboItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBolumListForCombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vlDepartmanId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBolumListForComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetBolumListForComboResult" nillable="true" type="q5:ArrayOfComboItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGorevListForCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGorevListForComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetGorevListForComboResult" nillable="true" type="q6:ArrayOfComboItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirmaListForCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirmaListForComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetFirmaListForComboResult" nillable="true" type="q7:ArrayOfComboItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirmaLokasyonListForCombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vlFirmaId" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirmaLokasyonListForComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetFirmaLokasyonListForComboResult" nillable="true" type="q9:ArrayOfComboItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vlId" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetPersonelByIdResult" nillable="true" type="q11:Personel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelListForCombo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelListForComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetPersonelListForComboResult" nillable="true" type="q12:ArrayOfComboItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetPersonelListResult" nillable="true" type="q13:ArrayOfPersonel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelShortList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="rptParam" nillable="true" type="q14:ReportParams.PersonelShortFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonelShortListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetPersonelShortListResult" nillable="true" type="q15:ArrayOfPersonelShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" minOccurs="0" name="vlPersonel" nillable="true" type="q16:CrmPersonel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPersonel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" minOccurs="0" name="vlObj" nillable="true" type="q17:CrmPersonel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPersonelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEhliyetByPersonelId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="vlPersonelId" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEhliyetByPersonelIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity.Models" minOccurs="0" name="GetEhliyetByPersonelIdResult" nillable="true" type="q19:EhliyetS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEhliyet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" minOccurs="0" name="vlObj" nillable="true" type="q20:CrmEhliyet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEhliyetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEhliyet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Kronus.Server.Entity" minOccurs="0" name="vlObj" nillable="true" type="q21:CrmEhliyet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEhliyetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>